
@{
    ViewBag.Title = "Twitter Desk Application - Termos de Uso";
}


<br /><br />
<div class="alert alert-info">
    <h2><b>Twitter Desk Application - Termos de Uso</b></h2>
</div>
<br />
<div class="jumbotron">
    <p>
        Este aplicativo tem o objetivo de ser um auxiliar no gerenciamento de sua conta do Twitter. Não serão permitidas nenhuma prática ilegal ou qualquer tipo de crime, inclusive, digital, ficando o infrator sujeito às punições previstas na legislação do Código Brasileiro.
    </p>
</div>
<hr />
<div class="panel-footer">Leia nossa Termos de Uso e nossa Política de Acesso. <b>Produzido por Cooperchip, Inc.</b></div><br /><br />
