@{
    ViewBag.Title = "Twitter Desk App - OAuth Index";
}
<div class="jumbotron">
    <h1>Twitter Desk App - OAuth</h1>
    <p class="lead">Twitter Desk App é o aplicativo que veio para revolucionar a sua relação com o Twitter e com tudo que diz respeito ao mesmo. Estatísticas, Geo Localização, Follow, Unfollow, Listas e dicas importantíssimas extraída do nosso algoritimo de Mineração de Dados!</p>
    <p>
        <a href="/OAuth/Begin" class="btn btn-primary btn-large">Auntenticação / Autorização &raquo;</a>
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Política de Privacidade</h2>
        <p>
            A utilização deste aplicativo se restrige ao uso de forma legal do App do Twitter....
        </p>
        <p>
            <a class="btn btn-default" href="/Polica/Index">Leia mais &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Termos de Uso</h2>
        <p>
            Este aplicativo tem o objetivo de ser um auxiliar no gerenciamento de sua conta do Twitter....
        </p>
        <p>
            <a class="btn btn-default" href="/Termo/Index">Leia mais &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Junte-se a nós</h2>
        <p>
            Já pensou em ganhar dinheiro com uma coisa que você gosta muito de fazer? É óbvio que supomos isso por você estar aqui....
        </p>
        <p>
            <a class="btn btn-default" href="TrabalheConosco/Index">Leia mais &raquo;</a>
        </p>
    </div>
</div>