
@{
    ViewBag.Title = "Twitter Desk Application - Trabalhe conosco";
}


<br /><br />
<div class="alert alert-info">
    <h2><b>Twitter Desk Application - Trabalhe Conosco</b></h2>
</div>
<br />
<div class="jumbotron">
    <p>
        Já pensou em ganhar dinheiro com uma coisa que você gosta muito de fazer? É óbvio que supomos isso por você estar aqui na nossa Homepage. Venha fazer parte dessa equipe, que só cresce, mas espera por você.
    </p>
</div>
<hr />
<div class="panel-footer">Leia nossa Termos de Uso e nossa Política de Acesso. <b>Produzido por Cooperchip, Inc.</b></div><br /><br />
